.company-description-title{
    position: relative;
width: 557.58px;
height: 94px;
left: 96px;
top: -40px;
display: inline;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;
display: flex;
align-items: center;

color: #30296C;
}