.know-more{
    position: relative;
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 20px 45.3594px 20px 44px;

width: 171.36px;
height: 56px;
left: 96px;
top: -30px;
margin-bottom: 100px;

background: linear-gradient(90deg, #FFA203 0%, #FF5E29 100%);
border-radius: 4px;
}