.our-company{
    position: relative;
width: 210px;
height: 26px;
left: 96px;
top:-52px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
/* identical to box height, or 140% */

display: flex;
align-items: center;

color: #FF6824;
}