.body-content{
    position: absolute;
    width: 559.04px;
    height: 96px;
    left: 11px;
    top: 267.81px;
    margin-top: 300px;
    margin-left: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 157.69%;
    /* or 32px */

    display: flex;
    align-items: flex-end;

    color: #696687;
}