.card-content{
    position: relative;
    width: 300px;
    height: 102px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    
    
    color: #000000;
}