.card-element{
    margin-top: 50px;
    margin-left: 50px;
    position: relative;
    display: inline-block;
    width: 416px;
    height: 292.69px;
    left: 12px;
    top: 0px;
    
    background: rgba(255, 255, 255, 0.002);
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}