.card-bottom{
    position: relative;
    width: 68px;
    height: 14px;
    left: calc(17% - 68px/2 - 0.53px);
    top: 5.5px;
    margin-left: 150px;
   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #30296C;

}