.title{
    position: relative;
width: 124px;
height: 26px;
left: calc(50% - 124px/2 - 0.91px);
margin-top: 100px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
/* identical to box height, or 140% */

display: flex;
align-items: center;
text-align: center;

color: #FF6824;
}